<style>
    div {
        text-align: center;
    }
</style>

<div>
    <h1>Currency Convertor</h1>

    <input type="text" placeholder="Enter Amount" #bx1>

    <select name="Country" #country (change)="onFrom(country.value)">
        <option value="Choose Country" selected disabled hidden>Choose Country</option>
        <option value="INR">INR</option>
        <option value="USD">USD</option>
        <option value="AED">AED</option>
    </select>

    <select name="Country" #to (change)="onTo(to.value)">
        <option value="Choose Country" selected disabled hidden>Choose Country</option>
        <option value="INR">INR</option>
        <option value="USD">USD</option>
        <option value="AED">AED</option>
    </select>
</div><br>

<div>
    <button (click)="convert(+bx1.value)">Convert</button><br>
    {{output}}
</div>