<div class="body">
    <div class="digitalClock">
        <div class="dateTitle">
            {{Date1 | date:'dd/MM/YYYY'}}
        </div>
        <div class="dayTitle">
            {{day}}
        </div>
        <div class="digitalTime">
            <div>{{hour}} : &nbsp;</div>
            <div>{{minute}} : &nbsp;</div>
            <div>{{second}} : &nbsp;</div>
            <div class="ampm">{{ampm}}</div>
        </div>
    </div><br><br>
    <footer style="text-align: center; color: #b63fed;">Made with ❤️ by Pranav</footer>
</div>